name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          
      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts
          
      - name: Deploy
        run: |
          ssh ${{ secrets.USERNAME }}@${{ secrets.HOST }} << 'EOF'
            cd /mnt/HC_Volume_101329726/baehrbots_api_ok
            
            # FORCE update to match GitHub exactly
            git fetch origin
            git reset --hard origin/main
            
            if [ -d "venv" ]; then
              source venv/bin/activate
              pip install -r requirements.txt
            else
              python3 -m venv venv
              source venv/bin/activate
              pip install -r requirements.txt
            fi
            sudo systemctl restart baehrbots_ok.service
          EOF